.startButton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.startmenu{
    z-index: -1;
    position: absolute;
    bottom: -650px;
    width: 100%;
    text-align: center; 
    transition: all 0.3s ease-in; 
    border-radius: 8px;
    width: 650px;
    height: 650px;
    background-color: #f6f6f6;
    border: 1px solid black;
}
.startmenu.grow{
    bottom: 50px !important;
    transition: all 0.3s ease-in; 
}

/* .imgStart{
    border-radius: 8px;
    width: 650px;
    height: 650px;
} */

@media(max-width: 1100px){
    .startmenu{
        width: 500px;
        height: 500px;
    }
}

@media(max-width: 700px){
    .startmenu{
        width: 400px;
        height: 400px;
    }
}