.startmenu{
    position: absolute;
    bottom: -650px;
    width: 100%;
    text-align: center; 
    transition: all 0.3s ease-in; 
}
.startmenu.grow{
    bottom: 45px !important;
    transition: all 0.3s ease-in; 
}

.imgStart{
    border-radius: 8px;
    width: 650px;
    height: 650px;
}

@media(max-width: 1100px){
    .imgStart{
        width: 500px;
        height: 500px;
    }
}

@media(max-width: 700px){
    .imgStart{
        width: 400px;
        height: 400px;
    }
}